<h1>
	<%= @wiki.title %>
	<small>
		Originally created by <%= @wiki.user_id %>
	</small>
	<span class="pull-right"><%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: "You sure 'bout this, hoss?"} %></span>
	<span class="pull-right margin"><%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %></span>
</h1>
<div>
	<%= markdown(@wiki.body) %>
</div>

<% @users.each do |user| %>
	<div>
		<h3><%= "#{user.email} - #{user.id}" %></h3>
		<% if @collabs.include?(user) %>
			<%= link_to 'Remove Collaborator', collaborator_path(user_id: user.id, wiki_id: @wiki.id), class: 'btn btn-danger', method: :delete %>
		<% else %>
			<%= link_to 'Add Collaborator', collaborators_path(user_id: user.id, wiki_id: @wiki.id), class: 'btn btn-success', method: :post %>
		<% end %>
	</div>
<% end %>
